body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
    background-color: darkorange;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
form {
    display: inline-block;
}
img{
    width: 100%;
    padding: 1em;
}