body {
    margin:0;
    width: auto;
    display:grid;
    grid-template:
        "hd" 1fr     
        "main" auto
        "footer" 1em /  1fr  ;    
}
main{
    grid-area: main;
    background-color: rgb(200, 238, 250);          
}    

header{
    grid-area: hd;
}
.photo{
  
  margin: 1em;
  padding: 1em;
  grid-area: photo;
}

#departing{
    grid-area: depart;
    margin: 1em;
    padding: 1em;
}
.info{
  
    grid-area: info;
    margin: 1em;
    padding: 1em;
}
.add-trip{
    background-color: pink;
   grid-area: add-trip;
    margin: 1em;
    padding: 1em;
}

img{    
    width: 100%;
    min-width: 150px;
}

@media (min-width:901px) { 
    main {       
      
        display: grid;
        grid-template: 
        "photo depart" auto        
        "photo info"  auto  
        "add-trip add-trip" 1fr / 1fr 1fr;
    }
   
} 
