form {
    border-radius: 3px;  
}
form div{
    display: inline-block;
}
input, select  {
    padding: 5px 10px;
    width: 150px;
    margin: 10px 0;
}

form select:hover, input:hover{
    background-color: rgb(187, 236, 239);
}